.DS_Store
.*.swp
*.class
*.rbc
*.gem
/doc/
.yardoc
.rvmrc
Gemfile.lock
.rbx/*
.tags
.tags_sorted_by_file
.Apple*
bin/*
.bundle/*
vendor/*
playground/*
*.org
repl-*
debug/*
*.dump
deploy.docs.sh
.ruby-version
.idea
*.srl
spec/tls/*.pem
spec/tls/*.pem~
spec/tls/*.p12
