language: ruby
bundler_args: --without development
cache: bundler
before_script: "./bin/ci/before_build"
script: "bundle exec rspec -cf documentation spec"
rvm:
  - "2.3.0"
  - "2.2.2"
notifications:
  email: michael@rabbitmq.com
services:
  - rabbitmq
branches:
  only:
    - master
