name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version:
          - "3.4.2"
          - "3.3.7"
          - "3.2.7"

    env:
      CI: true

    services:
      rabbitmq:
        image: rabbitmq:4-management
        ports:
          - 15672:15672
          - 5672:5672

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: bundle install

      - name: Configure RabbitMQ
        run: BUNNY_RABBITMQCTL=DOCKER:${{job.services.rabbitmq.id}} BUNNY_RABBITMQ_PLUGINS=DOCKER:${{job.services.rabbitmq.id}} bin/ci/before_build.sh

      - name: Run tests
        run: bundle exec rspec -c -fd spec/higher_level_api spec/lower_level_api spec/issues
